html {
	height: 100%;
}

body {
	text-transform: capitalize;
	background: url(https://images.unsplash.com/photo-1490682143684-14369e18dce8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=caa36db7370d38e59bd744c8ededfeb9);
	background-position: center;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: white;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
				 0px 8px 6px rgba(0,0,0,0.3);
}

h1 {
	font-weight: 700;
	font-size: 5em;
    border: 5px solid white;
    margin: auto 25%;
    padding-bottom: 5px;
}